<mat-toolbar>
  <span>Date de mariage</span>
</mat-toolbar>
<div class="container">

  <h3 class="text-center">
    Année du mariage de Père et de Mère Noël. <i class="em em-heart"></i>

  </h3>
  <h2 class="text-center">
    sept - six - quatre - un
  </h2>


  <table class="full-width">
    <tr>
      <th><img src="../../../assets/game-die.png"></th>
      <th><img src="../../../assets/croissant.png"></th>
    </tr>
  </table>

  <mat-form-field class="full-width">

    <mat-icon *ngIf="!goodAnswerChecker()" matPrefix>chevron_right</mat-icon>
    <mat-icon *ngIf="goodAnswerChecker()" matPrefix class="color-green">check_circle</mat-icon>
    <input matInput type="number" [(ngModel)]="input" class="text-center big-text"/>

    <button mat-icon-button *ngIf="input" matSuffix (click)="input=''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>


</div>
