<div class="container">
  <p>
    Bonjour, cher petits lutins,
  </p>

  <p>
    Il y a très longtemps, j’ai demandé à Mère Noel d’écrire et de cacher le mot de passe administrateur
    du Pôle-tail Nord. Cette année, je ne sais pas pourquoi j’ai oublié le mot de passe et quand j’ai demandé
    à Mère Noel elle ma dit qu’elle la cacher sous forme de chasse au trésor avec des énigmes et de puzzle.
  </p>
  Après 3 long mois de à tenté de percer ces mystère sans succès, il est trop gênant pour mois de
  dire à Mère Noel que je suis incapable contenu du premier indice.
  <p>
    S’il vous plait petits lutins, vous êtes la dernière chance de sauver Noel!
  </p>
  <p>
    Père Noel.
  </p>

</div>
<div class="bottom-center">
  <button mat-fab class="red">
    <mat-icon class="md-24 color-white">arrow_forward</mat-icon>
  </button>
</div>

