<mat-toolbar>Pôle-tail Nord</mat-toolbar>
<div class="container">
  <div class="full-width text-center">
    <mat-form-field class="text-center" style="margin-top: 50px">
      <input matInput placeholder="Nom d'utilisateur" value="Père Nole" disabled>
    </mat-form-field>
    <mat-form-field class="text-center">
      <mat-icon *ngIf="wrongPassword" matSuffix class="color-red">highlight_off</mat-icon>
      <input matInput type="password" placeholder="Mot de passe" [(ngModel)]="input">
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="login()">Connexion</button>
  </div>

  <p>
    <a routerLink="/1">Mot de passe oublié?</a>
  </p>

</div>

