<mat-toolbar>
  <span>Un peu de latin</span>
</mat-toolbar>

<div class="container">
  <h3 class="text-center">
    Felis silvestris catus <br>
  </h3>
  <h3 class="text-center">
    <i class="em em-heart"></i>
  </h3>

  <table class="full-width text-center">
    <th class="half-width text-center">
      <tr>Kingdom</tr>
      <tr>Division</tr>
      <tr>Class</tr>
      <tr>Order</tr>
      <tr>Family</tr>
      <tr>Subfamily</tr>
      <tr>Genus</tr>
      <tr>Species</tr>
    </th>
    <th class="half-width text-center">
      <tr>Plantae</tr>
      <tr>Magnoliophyta</tr>
      <tr>Magnoliopsida</tr>
      <tr>Rosales</tr>
      <tr>Rosaceae</tr>
      <tr>Maloideae</tr>
      <tr>Malus</tr>
      <tr>M. Domestica</tr>
    </th>
  </table>
</div>
<div class="bottom center">
  <a mat-fab class="red" routerLink="/6">
    <mat-icon class="md-24 color-white">arrow_forward</mat-icon>
  </a>
</div>
