@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

mat-toolbar {
  background-color: #6abf69 !important;
}

.container {
  padding: 25px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.bottom {
  bottom: 0;
  padding-bottom: 25px;
}

.center {
  width: 100%;
  position: fixed;
  text-align: center;
}

.red {
  background: #F44336;
}

.color-white {
  color: white;
}

.color-red {
  color: #f44336;
}

.color-green {
  color: #388e3c;
}

.text-center {
  text-align: center;
}

.big-text {
  font-size: xx-large !important;
}

.em {
  height: 1em;
  width:  1em;
}
